modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "artifacts/event-finder: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/event-finder"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/event-finder run dev"
cwd = "./artifacts/event-finder"
waitForPort = 23774
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "23774"
BASE_PATH = "/"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "parallel"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/api-server"
waitForPort = 8080
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "8080"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "typecheck"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "test"

[[workflows.workflow]]
name = "typecheck"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run typecheck"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run test"

[workflows.workflow.metadata]
isValidation = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["resend:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 23774
externalPort = 3000

[userenv]

[userenv.shared]

[nix]
channel = "stable-25_05"
